<header class="site-header">
  <div class="wrapper">

    <div class="site-title">
      <a rel="author" href="{{ '/' | relative_url }}">
        {{ site.title | escape }}
      </a>
    </div>

    <div class="site-nav">
      <a class="page-link" href="{{ '/notes/' | relative_url }}">Notes</a>
      <a class="page-link" href="{{ '/films/' | relative_url }}">Films</a>
      <a class="page-link" href="{{ '/photos/' | relative_url }}">Photos</a>
      <a class="page-link" href="{{ '/about/' | relative_url }}">About</a>
    </div>

  </div>
</header>
